/* CSS for RateXBlock */

.rate_block {
    text-align: center;
    max-width: 400px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0,0,0,0.1);
    padding: 10px
}

.rate_thank_you {
    color: green;
    visibility: hidden;
}

.rate_block .rate_header {
    font-weight: bold;
    font-size: large;
}

.rate_block .rate_likert_rating {
    cursor: pointer;
    border-radius:5px;
}

.rate_block .rate_string_input {
    margin-bottom: 1em;
}

.rate_block .rate_rating_active {
    color: blue;
    font-weight: bold;
    background-color: blanchedalmond;
}