{% load i18n %}

<div class="feedback-instructor-wrapper">
  <table>
    <tr>
      <th>Location</th>
      <th>Numbers of ratings</th>
      <th>Average rating</th>
      <th>Feedback received</th>
    </tr>
    {% for block in blocks %}
    <tr>
      <td><a href="{{ block.url }}">{{ block.parent }}</a></td>
      <td>
        <ul>
          {% for vote_aggregate in block.vote_aggregate %}
          <li>{{ vote_aggregate.scale_text }}: {{ vote_aggregate.count }}</li>
          {% endfor %}
        </ul>
      </td>
      <td>{{ block.average_rating }}</td>
      <td>
        {% for feedback in block.answers %}
        <div class="feedback-block-answer"> * {{ feedback.user_freeform }}. Vote: {{ feedback.user_vote }}</div>
        {% endfor %}
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
